## Data Analysis with Pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
weather = pd.read_csv('datasets_336_799969_weather.csv')
station = pd.read_csv('datasets_336_799969_station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines=False)
trip.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

In [3]:
trip

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## What is the average trip duration for a borrowed bicycle?

In [4]:
average_trip = trip['tripduration'].mean()
average_trip

1178.2956753399776

## Whatâ€™s the most common age of a bicycle-sharer?

In [5]:
sort_age_sharer=trip['birthyear'].mode()[0]
common_age_sharer=round(2020-sort_age_sharer)
common_age_sharer #33

33

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [8]:
weather.head(100)
def get_month(date_str):
    return int(date_str.split('/')[0])
weather['Month']=weather['Date'].apply(get_month)
weather.head(100)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1/16/2015,55,50.0,44,45,40,36,87,71,57,...,29.82,10,10,10,13,8,22,0.00,NaN,1
96,1/17/2015,55,46.0,39,52,41,35,90,84,73,...,29.60,10,6,3,17,1,23,0.76,Rain,1
97,1/18/2015,60,54.0,48,51,44,42,82,73,67,...,29.64,10,9,3,22,14,36,0.23,Rain,1
98,1/19/2015,52,49.0,46,43,42,40,83,76,66,...,30.27,10,10,7,10,5,-,0.03,Rain,1
99,1/20/2015,51,46.0,39,39,38,34,87,76,59,...,30.35,10,10,9,9,1,-,0.00,NaN,1

In [9]:
Precipitation=weather.groupby('Month')['Precipitation_In']
Precipitation.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [10]:
Precipitation.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

## Whatâ€™s the average number of bikes at a given bike station?

In [15]:
station
dock_count=station[station['decommission_date'].notnull()]
print(dock_count)
general=station[station['decommission_date'].isnull()]
general.mean()

   station_id                                       name        lat  \
10      CD-01                    12th Ave & E Yesler Way  47.602103
26      FH-01  Frye Art Museum / Terry Ave & Columbia St  47.607281
38     SLU-18                     Dexter Ave & Denny Way  47.618285
46      UW-01               UW McCarty Hall / Whitman Ct  47.660268

          long install_date  install_dockcount modification_date  \
10 -122.316923    5/22/2015                 16          8/9/2016
26 -122.324783   10/13/2014                 16         3/18/2016
38 -122.342205   10/13/2014                 20         11/2/2015
46 -122.304826   10/13/2014                 16        10/29/2015

    current_dockcount decommission_date
10                  0          8/9/2016
26                  0         3/18/2016
38                  0          7/2/2016
46                  0        10/29/2015

lat                   47.625004
long                -122.327617
install_dockcount     17.629630
current_dockcount     17.740741
decommission_date           NaN
dtype: float64

## When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [17]:
station=station[['modification_date','install_dockcount','current_dockcount']].dropna()
station['current_dockcount'].sum()-station['install_dockcount'].sum()

-64

## what is the number for all the current bikes for all station?

In [20]:
station['current_dockcount'].sum()

234